@using AniGeekAPI.Classes;
@model List<Product>
@{
    ViewData["Title"] = "Cart";
    ViewData["css"] = "Catalog_.css";
}
<div class="back">
    <div class="items" ">
    @foreach (var item in Model)
    {
            <div class="item" onclick="window.location = 'Item/?id=@item.ID'">
            @if (item.ImageSource != null)
            {
                    <img class="item-image" src="@item.ImageSource">
            }
            else
            {
                    <img class="item-image" src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg">
            }
                <div class="price">
                @item.Price р
                </div>
                <div class="title">
                @item.Name
                </div>
                <div class="description">
                @item.Description
                </div>
            </div>
    }
    </div>
</div>