@using AniGeekAPI.Classes;
@model Product
@{
    ViewData["Title"] = Model.Name;
    ViewData["css"] = "Item_.css";
}
<div class="content">
    <div style="display: grid;">
        @if (Model.ImageSource != null)
        {
            <img class="image" src="@Model.ImageSource" />
        }
        else{
            <img class="image" src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" />
        }
        <button class="price">
            Купить @Model.Price₽
        </button>
    </div>
    <div class="info">
        <div class="desc">@Model.Name</div>
        <div class="text">@Model.Description</div>
    </div>
</div>