@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Main";
}
<div class="content">
    <div class="logo">
        <img class="image" src="https://dev.rea.hrel.ru/BVV/pract/logo.png" />
        <div class="title">
            <div width="100%">
                AniGEEK
            </div>
        </div>
    </div>
    <div class="info">
        <div class="desc">Описание</div>
        <div class="text">AniGEEK - лучший интернет магазин кастомизации игрового и рабочего места!</div>
    </div>
</div>