@using AniGeekAPI.Classes;
@model User
@{
    ViewData["Title"] = "Profile";
}
<div class="links">
    <a href="~/Home/Logout">Выход</a>
    <a href="~/Home/Cart">Корзина</a>
    <a href="~/Home/Favorites">Избранное</a>
    <a href="~/Home/Orders">Заказы</a>
</div>

<div class="profile">
    <img src="@Model.ImageSource">
    <h2>@Model.Login</h2>
    <p>@Model.Access</p>
</div>