@using AniGeekAPI.Classes;
@model User
@{
    ViewData["Title"] = "Profile";
}
<div class="links">
    <a href="~/Home/Logout">Выход</a>
    <a href="~/Home/Cart">Корзина</a>
    <a href="favorite.html">Избранное</a>
    <a href="orders.html">Заказы</a>
</div>

<div class="profile">
    <img src="@Model.ImageSource">
    <h2>@Model.Login</h2>
</div>