@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "QnA";
}
<div class="qnas">
    <div class="qna">
        <div class="q">Как быстро осуществляется доставка?</div>
        <div class="a">Скорость доставки зависит от вашего города. В среднем это 7 дней</div>
    </div>
    <div class="qna">
        <div class="q">Как быстро осуществляется доставка?</div>
        <div class="a">Скорость доставки зависит от вашего города. В среднем это 7 дней</div>
    </div>
</div>